h1 {
    color:#fff ;
    background-color: #663399;
    font-size: 50px;
    text-align: center;
}
h2 {
    color:#00f500;
    background-color:#000;
}
h3{
    color: #fff;
    background-color:#800000;
    text-align: center;
}
.white{
    color:#84b1b3;
    background-color: #fff;
    text-align: left;
}